.App {
  margin: 40px auto;
  max-width: 1200px;
  padding: 30px;
  background-color: rgb(36, 44, 48);
  color: white;
}

body{
  background-color: black;
}

button{
  padding: 20px;
  margin: 10px;
}
